/************GRID LAYOUT************/ 
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container {
    width: calc(100vw - 200px);
    margin: 0 100px 100px 100px;
    padding-top: 100px;
    min-width: 350px;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}
/************END GRID LAYOUT************/

/************SCROLLBAR************/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #070707;
}
/************END SCROLLBAR************/

/************GLOBAL************/
body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Reem Kufi', sans-serif;
    color: #000;
}

.orange {
    color: #ff6600;
}

.uppercase {
    text-transform: uppercase;
}

.transitionFast {
    transition: .2s;
}

.transitionMedium {
    transition: .35s;
}

a {
    color: #ff6600;
}

.link-no-style {
    text-decoration: none;
}

.form-error {
    color: #ff0000;
    font-weight: bold;
}
/************END GLOBAL************/

/************NAV************/
#nav {
    width: 100%;
    height: 75px;
    position: fixed;
    background: #fff;
    top: 0;
    z-index: 1999;
}

.nav-link {
    /*color: #070707;*/
    color: #ff6600;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 5px;
}

.navLink:hover {
    /*background: #404040;*/
    background: #ff6600;
    color: #fff;
    font-weight: 100;
}

#mm-main-logo {
    color: #ff6600;
    text-decoration: none;
}

#leftNav {
    width: 33%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

#rightNav {
    width: 67%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
}

#rightNav ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: row;
}

#rightNav ul li {
    display: inline-block;
    padding: 5px 15px;
}

#accountImageMini {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #ccc;
    background-image: url(/media/account/profilepictures/defaultuser.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}

#navSearchBar {
    width: 200px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ff6600;
}

#navSearchBar:hover {
    /*border-bottom: 2px solid #070707;*/
    border-bottom: 2px solid #ff6600;
}

#navSearchBar:focus {
    /*border-bottom-color: #070707;*/
    border-bottom-color: #ff6600;
}

    /************NAV MINI MENU************/
    #optionsArrowButton {
        cursor: pointer;
        font-size: 1.6em;
        border: none;
        background: none;
        outline: none;
        color: #ff6600;
    }

    .menuArrowRotate {
        transform: rotate(180deg);
    }

    #optionsMenu {
        width: 150px;
        border-radius: 5px;
        /*background: #070707;*/
        background: #ff6600;
        position: absolute;
        right: 10px;
        transform: scale(.8);
        margin-top: 5px;
        opacity: 0;
        padding: 5px 0;
        visibility: hidden;
        z-index: 2000;
    }

    #optionsMenu ul {
        display: block;
        margin: 0;
        padding: 0;
    }

    #optionsMenu ul li {
        color: #fff;
        display: block;
    }

    #optionsMenu ul li:hover {
        /*background: #404040;*/
        background-color: #ff944d;
    }

    #optionsMenu ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
    }

    .optionsMenuShow {
        visibility: visible !important;
        opacity: 1 !important;
        transform: scale(1) !important;
    }
    /************END NAV MINI MENU************/
/************END NAV************/

/************ANIMATIONS************/
@keyframes buttonRipple {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    10%{
        opacity: .8;
    }
    80%{
        transform: scale(1);
        opacity: .8;
    }
    100%{
        opacity: 0;
    }
}
/************END ANIMATIONS************/

/* BUTTONS */
.btn-sm, .btn-md, .btn-lg {
    padding: 5px 10px;
    display: inline-block;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.btn-md {
    padding: 10px;
    font-size: 1.1em;
}

.btn-lg {
    padding: 15px;
    font-size: 1.2em;
}

.btn-dark {
    color: #fff;
    background: #404040;
}

.btn-dark:hover {
    color: #fff;
    background: #808080;
}

.btn-orange {
    color: #fff;
    background: #ff6600;
}

.btn-orange:hover {
    color: #fff;
    background: #ff944d;
}
/* END BUTTONS */


/* LANDING */

#landing-hero {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

#landing-video {
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

#landing-hero-text {
    color: #fff !important;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
}

#landing-main-text {
    font-weight: bold;
    color: #ff6600;
    font-size: 4.5em;
}

#landing-sub-text {
    font-size: 2.5em;
}

/* END LANDING */


/* FORM */
form input {
    margin: 10px 0;
}

form label {
    margin: 0;
    padding: 0;
}

form label:hover {
    color: #404040;
}

form input {
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    padding: 2px;
}
/* END FORM */

/* MAP */
#map {
    height: 700px;
    z-index: 1000;
}
/* END MAP */


/* ACCOUNT */
#ride-item-container {
    display: flex;
    flex-flow: row wrap;
}

.ride-item {
    border-radius: 10px;
    border: 1px solid #cccccc;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    width: calc(33.33% - 20px);
    float: left;
    margin: 10px;
}

.rides-list-title {
    text-transform: uppercase;
}

.rides-list-descriptive {
    padding-left: 15px;
    text-transform: uppercase;
}

.ride-list-icon {
    margin-right: 10px;
}
/* END ACCOUNT */